@import "vue-select/dist/vue-select.css";
@import "tailwindcss/base";
@import "tailwindcss/components";

// Input
.form-input,
.form-textarea,
.form-select {
  @apply rounded border-gray-300;

  &:focus {
    @apply ring-tc-primary border-tc-primary;
  }
}

label {
  &.required {
    &::after {
      content:"*";
      @apply text-red-700 ml-1;
    }
  }
}

.vs__selected-options {
  padding: 5px 2px !important;
}

.btn {
  @apply items-center justify-center px-4 py-2.5 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest transition;

  &:disabled {
    @apply opacity-25;
  }
}

.btn-primary {
  @apply bg-tc-primary;

  &:hover {
    @apply bg-tc-primary-dark;
  }
}

.btn-success {
  @apply bg-green-600;

  &:hover {
    @apply bg-green-500;
  }
}

.btn-danger {
  @apply bg-red-600;

  &:hover {
    @apply bg-red-500;
  }
}

.btn-default {
  @apply bg-gray-800;

  &:hover {
    @apply bg-gray-700;
  }
}

// Table
table {
  @apply min-w-full divide-y divide-gray-200;

  thead {
    @apply bg-gray-50;

    tr {
      th {
        @apply px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider border-t border-gray-200;
      }
    }
  }

  tbody {
    @apply bg-white divide-y divide-gray-200;

    tr {
      td {
        @apply px-6 py-3 whitespace-nowrap;

        .actions {
          @apply flex items-center justify-end;

          a {
            @apply ml-2 text-gray-400 cursor-pointer;

            &:hover {
              @apply text-tc-primary;
            }

            &.danger {
              &:hover {
                @apply text-red-700;
              }
            }
          }
        }
      }

      &:nth-child(even) {
        @apply bg-gray-50;
      }

      &:hover {
        @apply bg-gray-100;
      }
    }
  }

  &.table-sm {
    thead {
      tr {
        th {
          @apply p-3;
        }
      }
    }

    tbody {
      tr {
        td {
          @apply px-3 py-1;
        }
      }
    }
  }
}

// Sweetalert
.swal2-wait-dialog {
  .swal2-html-container {
    margin: 2rem !important;
  }
}

.swal2-icon {
  width: 3rem !important;
  height: 3rem !important;

  .swal2-icon-content {
    font-size: 2.5rem !important;
  }
}

.swal2-toast {
  .swal2-icon {
    width: 2rem !important;
    height: 2rem !important;

    .swal2-icon-content {
      font-size: 2rem !important;
    }
  }
}

.swal2-popup {
  padding: 1rem !important;
}

.swal2-actions {
  @apply bg-gray-100;
  width: 100% !important;
  padding: 0.5rem !important;
  border-radius: 0 0 0.25rem 0.25rem !important;
}

.swal2-styled {
  padding: 0.5rem 1rem !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  border-width: 1px !important;
  border-radius: 0.375rem !important;
  outline: none !important;

  &.swal2-confirm {
    background-color: #16a34a !important;

    &:hover {
      background-color: #22c55e !important;
    }

    &.danger {
      background-color: #dc2626 !important;

      &:hover {
        background-color: #ef4444 !important;
      }
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  &.swal2-cancel {
    background-color: #ffffff !important;
    border-color: #d1d5db !important;
    @apply border-gray-300 shadow;
    color: #374151 !important;

    &:hover {
      background-image: none !important;
      background-color: #ffffff !important;
      color: #6b7280 !important;
    }

    &:focus {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
    }
  }
}

// badges
.badge {
  @apply inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none rounded-md;
}

.badge-default {
  @apply text-gray-100 bg-gray-500;
}

.badge-danger {
  @apply text-red-100 bg-red-600;
}

.badge-success {
  @apply text-green-100 bg-green-600;
}

// Full Calendar
.fc {

  .fc-button-primary {
    background-color: #187a74 !important;
    border-color: #074e4a !important;

    &:hover {
      background-color: #074e4a !important;
    }
  }
}

.fc-event {
  padding: 4px;
  cursor: pointer;
}

.fc-event-title {
  text-overflow: ellipsis;
}

@media (max-width: 767.98px) {
  .fc .fc-toolbar.fc-header-toolbar {
    display: block;
    text-align: center;
  }

  .fc-header-toolbar .fc-toolbar-chunk {
    display: block;
  }
}

// Trix Editor
.trix-button-group--file-tools {
  display: none !important;
}

// Filepond
@media (min-width: 30em) {
  .filepond--item {
    width: calc(50% - 0.5em);
  }
}

@media (min-width: 50em) {
  .filepond--item {
    width: calc(33.33% - 0.5em);
  }
}

// Settings Layout
.aside-nav {
  .nav-item {
    @apply px-4 py-2 bg-gray-50 w-full block mb-1;

    &:hover {
      @apply text-tc-primary-dark;
    }

    &.active {
      @apply bg-tc-primary text-white;

      &:hover {
        @apply text-white;
      }
    }
  }
}

@import "tailwindcss/utilities";
